*{
    margin: 0px;
}

.uni-padding{
    padding: 0px 15% !important;
}

.uni-margin{
    margin: 0px 15% !important;
}

body{
    background-color: #f0fdff;font-family: 'Roboto', Arial, sans-serif;
}

/* top bar */

.top-bar{
    background-color: #202020;    
}

/* left top bar */

.top-bar > .left-section {
    color: white;
    display: inline-block;
    width: 69%;    
}

.left-section > a {
    margin: 0px 5px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.left-section > a > i {
    margin: 4px;
    font-size: 18px;
}
.left-section > a:hover{
    opacity: 0.9;
    transition: 0.8ms;
}

/* left top bar end here */

/* right top bar */

.top-bar > .right-section {
    display: inline-block;
    width: 29%;
    padding: 5px;
    text-align: right;
    box-sizing: border-box;
}

.right-section > a{
   text-decoration: none;
   color: white;
   font-size: 15px;
   margin: 0px 10px;
   padding: 0px 5px;
}

.right-section > a:hover {
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 0px 10px;
    transition: 1ms;
}

/* right top bar end here */

/* top bar end here */

/* menu Bar */

.menubar{
    background-color: #ffffff;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 10%);
}

.menubar > .logo{
    width: 19%;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 20px 0px;
}
.menubar > .logo > span {
    color: #0049CE;
}

/* menus  */
.menubar >.menus{
    width: 79%;
    display: inline-block;
    text-align: right;
    font-weight: 700;
    padding: 20px 0px;
}
.menus > a{
    text-decoration: none;
    color: black;
    margin: 0px 14px;    
}
.menus > a:hover{
    color: #0049CE;
    margin: 0px 14px;    
}
.menus > a > .la-search{
    font-size: 25px;
    position: relative;
    top: 5px;
}

/* menus end here */

/* menu bar end here */

/* blog section */

.divide-3 {
    background-color: white;
    margin-top: 25px;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 10%);
    display: flex;
    padding: 20px;
    height: 320px;
    justify-content:space-evenly;
}

.divide-3 > .big-blog-listing {
    background-image: url("https://1.bp.blogspot.com/-lNDLOkYVctM/XyMrR9hlGrI/AAAAAAAACb8/kfHY383L6UMezRamt-tByetKTlxgT05vQCLcBGAsYHQ/w367-h352-p-k-no-nu/ify12.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 10px;
    width: 33%;
    margin: 0px 10px;
}

.big-blog-listing > .big-blog-img-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 10px;
    color: white;
    text-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 10%,rgba(0,0,0,1.5));
}

.divide-3 > a:hover{
    opacity: 0.8;
    transition: 0.5ms;
}

.big-blog-img-content> h3{
    font-size: 27px;
    font-weight: 700;
}

.big-blog-img-content > .title-date{
    color: white;
    text-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0px;
}

.title-date > span {
    color: #c5c5c5;
    font-size: 12px;
    font-weight: 400;
}

.divide-3 > .mid-blog-listing {
    width: 33%;
}

.list-item > img {
    width: 35%;
    display: inline-block;
}

.list-item > .content {
    width: 60%;
    display: inline-block;
    position: relative;
}

.list-item > .content > .h3 {
    font-size: 15px;
    font-weight: 700;
    color: black;
}

.list-item > .content > .date {
    font-size: 15px;
    font-weight: 700;
    color: black;
}







/* blog section end here */

